# Trabajo Tutorial Básico

Recreación figura 8(a) [paper](https://iopscience.iop.org/article/10.3847/1538-4357/abbb34/pdf)

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [53]:
df = pd.read_csv('Data/table4.csv')
df.head()

,QSO,zabs,Ncld,vcld,N-MgII,e_NMgII,bMgII,e_b-MgII,N-FeII,e_N-FeII,...,b-MgI,e_b-MgI,N-MnII,e_N-MnII,b-MnII,e_b-MnII,N-CaII,e_N-CaII,b-CaII,e_b-CaII
0,J000149-015939,0.870821,1,-93.01,13.10,0.035,5.76,0.185,13.32,0.023,...,5.76,0.185,11.19,-1.0,0.0,0.0,11.14,-1.0,0.0,0.0
1,J000149-015939,0.870821,2,-52.58,12.59,0.241,7.99,2.502,12.53,0.237,...,7.99,2.502,11.27,-1.0,0.0,0.0,11.25,-1.0,0.0,0.0
2,J000149-015939,0.870821,3,-46.49,13.03,0.190,3.18,0.435,12.93,0.096,...,3.18,0.435,11.08,-1.0,0.0,0.0,11.09,-1.0,0.0,0.0
3,J000149-015939,0.870821,4,-32.94,12.45,0.244,5.81,1.691,12.41,0.090,...,0.00,0.000,11.19,-1.0,0.0,0.0,11.21,-1.0,0.0,0.0
4,J000149-015939,0.870821,5,-23.87,12.51,0.373,17.61,9.999,11.47,-1.000,...,0.00,0.000,11.43,-1.0,0.0,0.0,11.41,-1.0,0.0,0.0

In [54]:
zs = pd.read_csv('Data/table1.csv')
zs.head()

              QSO    zem
0  J000149-015939  2.817
1  J000323-260318  4.111
2  J000344-232355  2.280
3  J000448-415728  2.760
4  J000520+052411  1.900

In [10]:
log_N_MgII = df['N-MgII']

err_log_N_MgII = df['e_NMgII']

In [38]:
bins = np.linspace(log_N_MgII.min(), log_N_MgII.max(), 15)
hist, bin_edges = np.histogram(log_N_MgII, bins=bins)